.filtros {
    background: var(--creme);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--caramelo);
}

.filtros select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--caramelo);
}

.grid-produtos {
    display: grid;
    gap: 22px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}

.card-produto {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--caramelo);
}

.card-produto img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    background: var(--bege);
}

.card-info {
    padding: 10px;
}

.tag-unica {
    display: inline-block;
    padding: 5px 10px;
    background: var(--terracota);
    color: white;
    font-size: 12px;
    border-radius: 6px;
    margin-top: 4px;
}
.produto-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    background: var(--creme);
    padding: 20px;
    border-radius: 14px;
}

.produto-container img {
    width: 330px;
    border-radius: 12px;
}

.info-produto {
    flex: 1;
}

.info-produto h2 {
    font-size: 28px;
}

.info-produto p {
    margin: 8px 0;
}

.btn-whats {
    padding: 12px 18px;
    background: var(--verde-oliva);
    color: white;
    border-radius: 8px;
    display: inline-block;
    margin-top: 15px;
}